 footer{
    /* display: flex;
    margin-left: 7%;
    margin-top: 5%; */
    padding: 5%;
    margin-top: 5%;
    color: white;
    text-align: center;
}
footer div{
    color: white;
    display: flexbox;
    width: 100%;
}
footer h3{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 97px;
}
footer h4{
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
} 

