 footer{
    display: flex;
    /* width: 308px;
    height: 161px; */
    margin-left: 7%;
    /* top: 3000px; */
    margin-top: 5%;
}
footer div{
    color: white;
    display: flexbox;
    width: 100%;
}
footer h3{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 97px;
}
footer h4{
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
} 

