header{
    top: 100%;
    border-bottom: 4px solid #49A37B;
    display: flex;
    /* background-color: black; */
}
header h1{
    font-size: 40px;
    font-weight: 700;
    width: 80%;
    margin-top: 17px;
    margin-left: 7%;
    margin-right: 17px;
    margin-bottom: 0%;
}
header h2{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8%;
    margin-top: 0px;
}
header img{
    width: 48px;
    height: 42px;
    margin-top: 30px;
    margin-left: 16px;
}

@media (min-width: 480px){
    float: none;
    text-align: center;
    width: 100%;
}
