p{
    color: white;
}

body{
    background-color: #373867;
}

aside{
    width: 30%;
   background-color: red;
   float: left;
}

main{
    width: 70%;
    background-color: green;
    float: right;
}

h2{
    color: white;
}

h3{
    color: white;
}

h1{
    color: white;
}

ol{
    color: white;
}